.App {
  text-align: center;
  padding: 4rem;
}

.App-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#taskForm{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}